.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App .header {
  width: 100%;
  height: 60px;
  padding: 8px 8px 8px 16px;
  box-sizing: border-box;
  background: #00a5e4;
  font-size: 1.2em;
  line-height: 44px;
  color: white;
  vertical-align: middle;
}

.getNewOrderButton {
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-left: 1rem;
  font-size: 0.6em;
  border: 1px solid lightgray;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  font-weight: 600;
}

.container {
  display: flex;
  height: 100%;
}

.actionContainer {
  display: flex;
  gap: 2rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.actionButton {
  background-image: linear-gradient(
    to right,
    #00d2ff 0%,
    #3a7bd5 51%,
    #00d2ff 100%
  );
  border: none;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.actionButton:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  transform: scale(1.02);
}

.getNewOrderButton:hover {
  transform: scale(1.02);
}
